body {
    background-color:#f1f1f1;
}
  a {text-decoration:none;}
  p {padding-left:10px;}
  #inclusioncon {
  	width:100%; 
  	margin-left:auto; 
  	margin-right:auto;
  }
  #inclusionheader {
  	background-color:#333;
  }
  #inclusionheader h1 {
  	color:white; 
  	line-height:80px;
  	font-family: verdana;
  }
  #inclusionheader img {
  	float:left; 
  	height:70px; 
  	width:300px; 
  	padding:5px; 
  	margin-right:20px
  }
  #inclusioncontent {
  	margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
  	}

  #inclusionfooter {
  	clear:left; 
  }

  .inclusion-column {
    float: left;
    width: 30%;
    padding: 15px;
    font-family: arial;
    font-size: 18px;
}
.inclusion-column h2{
    font-family: Tahoma;
    color: #17202A;
    text-shadow: 2px 2px White;
}
#inclusion-nav {
  overflow: hidden;
  background-color: #17202A  ;
  position: fixed;
  top: 0;
  width: 100%;
}

#inclusion-nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#inclusion-nav a:hover {
  background: #ddd;
  color: black;
}

#inclusion-row:after {
    content: "";
    display: table;
    clear: both;
}


@media (max-width:600px) {
    .inclusion-column {
        width: 100%;
    }
}

#inclusionboxes{
  margin-top:30px;
}

#inclusionboxes #inclusionbox{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#inclusionboxes #inclusionbox img{
  width:10%;
}

#inclusioncontain{
  width:100%;
  margin:auto;
  overflow:hidden;
}

#inclusionstory img{
	align-content: center;
}

#inclusionst{
	text-align: center;
  	font-family: Tahoma;
  	font-size: 15px;
}
#inclusionmenu {
    text-align: center;
    background-color: #17202A;
    }


.inclusionfader {
    width:    375px;
    height:   375px;
    background-color: Black;

    display:  inline-block;
    text-align: center;

    overflow: hidden; }


    .inclusionfader img {
        width:       100%;
        height:      100%;
        line-height: 0;

        transition:         all 0.3s ease; }
        .inclusionfader img:hover {
            opacity: 0.5;
            width:   120%;
            height:  120%; }
.inclusion{
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 20%;
        
}
.inclusion h2 {
    padding: 0px;
    color: #17202A  ;
    font-family: Tahoma;
    font-size: 300%;
    text-shadow: 2px 2px 5px #FFFFFF;
}

.inclusion p {
    color: Black;
    font-family: Arial;
    font-size: 18px;
    text-indent: 50px;
}
#inclusion{
    margin-top: 50px;
    margin-left: 15%;
    margin-right: 20%;
    
}
#inclusion h2 {
    padding: 0px;
    color: #17202A  ;
    font-family: Tahoma;
    font-size:500%;
    text-shadow: 2px 2px 5px  #FFFFFF;
}

#inclusion p {
    color: Black;
    font-family: Arial;
    font-size: 20px;
    text-indent: 50px;
}
#inclusionview img { 	
	transition: all 0.2s ease-in;
	width: 30%;
}
#inclusionviewmask { 
	background-color: rgba(115,146,184, 0.7); 
	width: 100%;
   	 padding: 60px;
	height: 50%;
	opacity: 0;
	transform: translate(265px, 145px) rotate(45deg);
	transition: all 0.2s ease-in-out;
}
#inclusionview h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: translate(200px, -200px);
	transition: all 0.2s ease-in-out;
    font-family: Tahoma;
    font-size: 45px;
    color: #17202A;
}
#inclusionview p { 
	transform: translate(-200px, 200px);
	transition: all 0.2s ease-in-out;
    font-family: arial;
    font-size: 18px;
}
#inclusionview a.info { 
    transform: translate(0px, 100px);
	transition: all 0.2s 0.1s ease-in-out;
} 
#inclusionview:hover .mask { 
	opacity:1; 
	transform: translate(-80px, -125px) rotate(45deg);
}							  
#inclusionview:hover h2 { 
	transform: translate(0px,0px);
	transition-delay: 0.3s; 
}
#inclusionview:hover p { 
    transform: translate(0px,0px); 
	transition-delay: 0.4s;
}
#inclusionview:hover a.info { 
	transform: translate(0px,0px); 
	transition-delay: 0.5s;
}
#inclusioninput[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

#inclusionlabel {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

#inclusioninput[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

#inclusioninput[type=submit]:hover {
    background-color: #45a049;
}

#inclusioncontain {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.inclusioncol-25 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.inclusioncol-75 {
    text-align: center;
    width: 100%;
    margin-top: 5px;
}

.inclusionrows:after {
    content: "";
    display: table;
    clear: both;
}

#inclusionst h1{
	font-family: Verdana;
    color: #17202A;
}


